.about-me {
  &__heading {
    margin-bottom: 3rem;
    font-weight: $font-weight-4;
  }

  &__paragraph {
    margin-bottom: 2rem;
    padding: 0 10rem;
  }

  &__cta {
    text-align: center;
    margin: 3rem 0;
    font-weight: $font-weight-3;
  }
}
