.hero {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    // text-align: center;
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--main {
      position: relative;
      width: fit-content;
      text-align: center;

      &--mask {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 95%;
        width: 95%;
        overflow: hidden;
        z-index: -1;

        background-color: transparent;
      }

      &--svg {
        width: 100rem;
        z-index: 4;

        @include respond-tab-land {
          width: 80rem;
        }

        @include respond-tab-port {
          width: 65rem;
        }

        @include respond-phone {
          width: 50rem;
        }
      }

      &--slide {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -43%);
        width: 32%;
        height: auto;
        z-index: -2;
        visibility: hidden;

        &.show {
          visibility: visible;
        }
      }
    }

    &--sub {
      margin-top: 1rem;
      padding-right: 3rem;
      height: 4rem;
      font-size: $font-size-7;

      @include respond-tab-port {
        font-size: $font-size-6;
      }
    }
  }

  &__ticker {
    flex: 0 0 3rem;
    margin-bottom: 1.5rem;

    &--container {
      height: 100%;
      width: 40rem;
      background-color: $color-text-1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.8rem / 50%;
    }
  }

  &__socials {
    flex: 0 0 3rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    &--link {
      width: fit-content;

      & .social-icon {
        width: 3rem;
      }
    }
  }

  &__down {
    width: fit-content;
    flex: 0 0 3rem;
    margin-bottom: 1.5rem;

    &--link {
      &:link,
      &:visited {
        height: fit-content;
      }
    }
  }
}
