.info-section {
  max-width: 140rem;
  height: 10rem;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  transition: height 0.4s, box-shadow 0.4s;
  background-color: $color-accent-1;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__title {
    height: 10rem;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      to right,
      $color-primary-1 50%,
      $color-text-1 50%
    );
    background-size: 200% 100%;

    transition: background-position 0.3s 0.1s;

    &--heading {
      flex: 0 0 20rem;
      text-align: left;
      font-size: $font-size-6;
      font-style: italic;

      color: $color-text-1;
      transition: color 0.3s;
    }

    &--line {
      flex: auto;
      border: none;
      border-top: 2px solid;
      border-color: $color-text-1;
      transition: border-color 0.3s;
    }

    &:hover {
      background-position: -100% 0;
      transition: background-position 0.3s;
    }

    &:hover &--heading {
      color: $color-background-1;
      transition: color 0.3s 0.1;
    }

    &:hover &--line {
      border-color: $color-background-1;
      transition: border-color 0.3s 0.1s;
    }
  }

  &__content {
    color: $color-text-1;
    margin: 5rem;
    text-align: center;
  }

  &.open {
    box-shadow: 0 1rem 2rem rgba($color-text-1, 0.3);
  }

  &.open &__title {
    background-position: -100% 0;
    transition: background-position 0.3s;

    &--heading {
      color: $color-background-1;
      transition: color 0.3s 0.1s;
    }

    &--line {
      border-color: $color-background-1;
      transition: border-color 0.3s 0.1s;
    }
  }

  &.close &__title {
    transition: background-position 0.3s 0.3s;

    &--heading {
      transition: color 0.3s 0.3s;
    }

    &--line {
      transition: border-color 0.3s 0.3s;
    }
  }
}
