*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // defines the size of 1rem (100% = 16px)
  font-size: 62.5%; // 1rem = 10px (10/16 = 0.625)
  font-family: "Montserrat";
  scroll-behavior: smooth;

  @include respond-tab-land {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond-tab-port {
    font-size: 50%; // 1rem = 8px
  }

  @include respond-phone {
    font-size: 43.75%; // 1rem = 7px;
  }

  @include respond-big-desktop {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  background-color: $color-primary-1;
}
