.heading {
  &__secondary {
    font-size: $font-size-8;
    font-style: italic;

    @include respond-phone {
      font-size: $font-size-6;
    }
  }

  &__tertiary {
    font-size: $font-size-7;
    font-style: italic;

    @include respond-tab-land {
      font-size: $font-size-6;
    }

    @include respond-phone {
      font-size: $font-size-5;
    }
  }

  &__four {
    font-size: $font-size-5;
    font-style: italic;

    @include respond-tab-land {
      font-size: $font-size-4;
    }

    @include respond-phone {
      font-size: $font-size-3;
    }
  }
}

.paragraph {
  &__small {
    text-align: left;
    font-size: $font-size-5;
  }

  &__medium {
    text-align: left;
    font-size: $font-size-6;

    @include respond-phone {
      font-size: $font-size-5;
    }
  }
}
