<!--
<div class="parallax">
    <div class="main-container">
        <div class="parallax_layer parallax_layer_back">
            
                
                
            <div class="banner"></div>


            <div class="content"></div>



        </div>
        <div class="parallax_layer Parallax_layer_base">
            <p style="color: red;">aaaaaaaaaaaaaaa</p>
        </div>
    </div>
</div>
-->

<div class="parallax">
    <div class="parallax-layer parallax-layer-back bgImg">
        
    </div>
    <div class="parallax-layer parallax-layer-base">
        <h1>BBBBBBBBBBBB</h1>
    </div>
</div>