<!-- modified from https://codepen.io/goodkatz/pen/LYPGxQz -->

<div class="landing flex">
    <div class="welcome flex">
        <h1>
            <div>
                Welcome!
            </div>
            <div>
                My name is Connor Nolan
            </div>
            <div>
                I stare at computer screens for a living
            </div>
            <div>
                This is my homepage
            </div>
            <div>
                Take a look around!
            </div>
        </h1>
    </div>
</div>    

<!--Content before waves-->
<!--Waves Container-->
<app-wave-bg height=75vh></app-wave-bg>