<!-- modified from https://codepen.io/goodkatz/pen/LYPGxQz -->

<div class="landing flex">
    <div class="welcome">
        <h1>
            <span>
                Welcome!
            </span>
            <span>
                My name is Connor Nolan
            </span>
            <span>
                I stare at computer screens for a living
            </span>
            <span>
                This is my homepage
            </span>
            <span>
                Take a look around!
            </span>
        </h1>
    </div>
</div>    

<!--Content before waves-->
<!--Waves Container-->
<app-wave-bg height=75vh></app-wave-bg>