//    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), url(http://localhost:4000/images/img002.jpg);
$homebgcolor: black;

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100vh minmax(50vh, auto);
}

.banner {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: linear-gradient(0deg, $homebgcolor 0%, rgba(0,0,0,0) 11%), url(http://localhost:4000/images/img002.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

.welcome-col {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-block {
    height: 10vh;
    background-color: $homebgcolor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-block h1 {
    color: white;
}

.content {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $homebgcolor;
}