.dot {
    height: 60px;
    width: 60px;
    background-color: #dd5100;
    border-radius: 30px;
    display: inline-block;
}

.center {
    position: relative;
    left: 2px;
    top: 10px;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=FFFFFF');
}