<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark navbar-togglable-sm py-3" data-toggle="affix" [@hide]="faded ? 'hidden' : 'visible'">
  <a class="navbar-toggler navbar-toggler-right" data-toggle=".navbar-collapse"></a>
  <a class="navbar-brand" routerLink="/">
    cnolandev
  </a>

  <button (click)="clickFunction($event)">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Item 1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Item 2</a>
      </li>
    </ul>
  </div>
</nav>