<div class="main-row">
  <div class="main-item">
    
    <div class="nav-bg" #navBG></div>
    <h1 class="siteTitle">cnolandev</h1>

    <div class="dot" #dot>
      <button (click)="toggle()" class="nav-icon" #burgerIcon>
        <div></div>
      </button>
    </div>


    <div *ngIf="maximized" class="nav-item-row" [@fade]>
      <div class="nav-item">
        <fa-icon [icon]="faHome"></fa-icon>
        <h3>Home</h3>
      </div>
      <div class="nav-item">
        <fa-icon [icon]="faCode"></fa-icon>
        <h3>Projects</h3>
      </div>
      <div class="nav-item">
        <fa-icon [icon]="faCodeBranch"></fa-icon>
        <h3>GitHub</h3>
      </div>
      <div class="nav-item">
        <fa-icon [icon]="faBookOpen"></fa-icon>
        <h3>DevLog</h3>
      </div>
    </div>
    
    
  </div>
</div>