.dot {
    height: 70px;
    width: 70px;
    background-color: #dd5100;
    border-radius: 35px;
    display: inline-block;
}

.center {
    position: relative;
    left: 0px;
    top: 7px;
    outline: none;
}