$dotColor: white;
$navBGColor: black;
$iconColor: black;
$iconHoverColor: #444444;
$animTime: 0.2s;
$navItemAnimTime: 0.2s;
$navItemAnimDelay: 0.05s;
$navLRPadding: 5vh;
$navItemSize: 4vh;
$translateLength: 8px;
$dotSize: 50px;



$navHeight: 50px;
$navLRMargin: 5vw;

@keyframes topAnimForward {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY($translateLength);
    }

    100% {
        transform: translateY($translateLength) rotate(45deg);
    }
}

@keyframes topAnimBack {
    0% {
        transform: translateY($translateLength) rotate(45deg);
    }

    50% {
        transform: translateY($translateLength) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes midAnimForward {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    51% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes midAnimBack {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    51% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes lowAnimForward {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-$translateLength);
    }

    100% {
        transform: translateY(-$translateLength) rotate(-45deg);
    }
}

@keyframes lowAnimBack {
    0% {
        transform: translateY(-$translateLength) rotate(-45deg);
    }

    50% {
        transform: translateY(-$translateLength) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.main-row {
    position: relative;
    width: 100%;
    height: 40vh;
    background-size: calc(100% + 1px) 100%;
}

.main-item {
    display: flex;
    position: relative;
    top: 5vh;
    flex-direction: row;
    width: auto;
    height: $navHeight;
    margin: 0px $navLRMargin 0px;
    flex-grow: 1;
    align-items: center;
}

.dot {
    position: absolute;
    height: $navHeight;
    width: $navHeight;
    background-color: $dotColor;
    border-radius: calc(#{$navHeight} / 2);
    transition: width 0.4s;
}

.dot.expand {
    width: 100%;
}

.nav-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: $navHeight;
    border-radius: calc(#{$navHeight} / 2);
    background-color: $navBGColor;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    transition: opacity 0.4s;
}

.nav-bg.hide {
    opacity: 0%;
}

.siteTitle {
    color: $iconColor;
    text-align: center;
    width: 100%;
    opacity: 100%;
    transition: opacity 0.4s;
}

.siteTitle.hide {
    opacity: 0%;
}

.nav-item-row {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: $navHeight;
    flex-grow: 1;
    z-index: 2;
    width: calc(100% - #{$navHeight});
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    padding-right: 2vh;
}

.nav-item {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $iconColor;
    transition: color 0.2s;
}

.nav-item:hover {
    color: $iconHoverColor;
}

.nav-item h3 {
    text-align: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(1em);
    z-index: 4;
    font-size: 0.8em;
}

.nav-item fa-icon {
    position: absolute;
    display: block;
    z-index: 5;
    font-size: 20px;
    transform: translateY(-0.35em);

    transition: all $navItemAnimTime linear $navItemAnimDelay;
}

button.nav-icon {
    background: none;
    border: none;
    width: 28px;
    padding: 0;
    margin: 10px 11px;
    outline: none;
    position: absolute;
    z-index: 2;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: $iconColor;
    border-radius: 1px;
    content: '';
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: background-color 0.2s;
}

.nav-icon:hover:after,
.nav-icon:hover:before,
.nav-icon:hover div {
    background-color: $iconHoverColor;
}

.nav-icon.pressedForward:before {
    animation-name: topAnimForward;
    animation-duration: $animTime;
    animation-fill-mode: forwards;
}

.nav-icon.pressedBack:before {
    animation-name: topAnimBack;
    animation-duration: $animTime;
    animation-fill-mode: forwards;
}

.nav-icon.pressedForward:after {
    animation-name: lowAnimForward;
    animation-duration: $animTime;
    animation-fill-mode: forwards;
}

.nav-icon.pressedBack:after {
    animation-name: lowAnimBack;
    animation-duration: $animTime;
    animation-fill-mode: forwards;
}

.nav-icon.pressedForward div {
    animation-name: midAnimForward;
    animation-duration: $animTime;
    animation-fill-mode: forwards;
}

.nav-icon.pressedBack div {
    animation-name: midAnimBack;
    animation-duration: $animTime;
    animation-fill-mode: forwards;
}

@media only screen and (min-width: 736px) {
    $translateLength: 12px;
    $navHeight: 70px;

    @keyframes topAnimForward {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY($translateLength);
        }

        100% {
            transform: translateY($translateLength) rotate(45deg);
        }
    }

    @keyframes topAnimBack {
        0% {
            transform: translateY($translateLength) rotate(45deg);
        }

        50% {
            transform: translateY($translateLength) rotate(0deg);
        }

        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }

    @keyframes lowAnimForward {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(-$translateLength);
        }

        100% {
            transform: translateY(-$translateLength) rotate(-45deg);
        }
    }

    @keyframes lowAnimBack {
        0% {
            transform: translateY(-$translateLength) rotate(-45deg);
        }

        50% {
            transform: translateY(-$translateLength) rotate(0deg);
        }

        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }

    .main-item {
        margin-left: 10vh;
        margin-right: 10vh;
    }

    .nav-bg {
        height: $navHeight;
        border-radius: calc(#{$navHeight} / 2);
    }

    .nav-item-row {
        margin-left: $navHeight;
        width: calc(100% - #{$navHeight});
    }

    .nav-item h3 {
        font-size: 0.9em;
        transform: translateY(1.2em);
    }

    .dot {
        height: $navHeight;
        width: $navHeight;
        border-radius: calc(#{$navHeight} / 2);
    }

    button.nav-icon {
        width: 42px;
        margin: 13px 14px;
    }

    .nav-icon:after,
    .nav-icon:before,
    .nav-icon div {
        border-radius: 3px;
        height: 5px;
        margin: 7px 0;
    }

    .siteTitle {
        font-size: 2.2em;
    }
}

//@media only screen and (min-width: 1024px) {
//
//    .main-item {
//        margin-left: 20vh;
//        margin-right: 20vh;
//    }
//
//    .nav-item h3 {
//        transform: translateY(1.1em);
//        opacity: 0%;
//        font-size: 1em;
//        transition: opacity $navItemAnimTime linear;
//    }
//
//    .nav-item:hover h3 {
//        opacity: 100%;
//        transition: opacity $navItemAnimTime linear $navItemAnimDelay;
//    }
//
//    .nav-item fa-icon {
//        font-size: 30px;
//        transform: translateY(0px);
//        transition: all $navItemAnimTime linear $navItemAnimDelay;
//    }
//
//    .nav-item:hover fa-icon {
//        transform: translateY(-0.25em);
//        transition: all $navItemAnimTime linear;
//    }
//}

@media only screen and (min-width: 1023px) {
    $translateLength: 10px;
    $navHeight: 60px;

    @keyframes topAnimForward {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY($translateLength);
        }

        100% {
            transform: translateY($translateLength) rotate(45deg);
        }
    }

    @keyframes topAnimBack {
        0% {
            transform: translateY($translateLength) rotate(45deg);
        }

        50% {
            transform: translateY($translateLength) rotate(0deg);
        }

        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }

    @keyframes lowAnimForward {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(-$translateLength);
        }

        100% {
            transform: translateY(-$translateLength) rotate(-45deg);
        }
    }

    @keyframes lowAnimBack {
        0% {
            transform: translateY(-$translateLength) rotate(-45deg);
        }

        50% {
            transform: translateY(-$translateLength) rotate(0deg);
        }

        100% {
            transform: translateY(0px) rotate(0deg);
        }
    }

    .nav-bg {
        height: $navHeight;
        border-radius: calc(#{$navHeight} / 2);
    }

    .main-item {
        margin-left: 20vh;
        margin-right: 20vh;
    }

    .nav-item-row {
        margin-left: $navHeight;
        width: calc(100% - #{$navHeight});
    }

    .dot {
        height: $navHeight;
        width: $navHeight;
        border-radius: calc(#{$navHeight} / 2);
    }

    .nav-item h3 {
        font-size: 1.1em;
        transform: translateY(1em);
        opacity: 0%;
        transition: opacity $navItemAnimTime linear;
    }

    .nav-item:hover h3 {
        opacity: 100%;
        transition: opacity $navItemAnimTime linear;
    }

    .nav-item fa-icon {
        font-size: 25px;
        transform: translateY(0px);
        transition: all $navItemAnimTime linear $navItemAnimDelay;
    }

    .nav-item:hover fa-icon {
        transform: translateY(-0.25em);
        transition: all $navItemAnimTime linear;
    }

//    .nav-item:hover fa-icon {
        //transform: translateY(-0.35em);
        //transition: all $navItemAnimTime linear;
    //}

    button.nav-icon {
        width: 40px;
        margin: 12px 10px;
    }

    .nav-icon:after,
    .nav-icon:before,
    .nav-icon div {
        border-radius: 2px;
        height: 4px;
        margin: 6px 0;
    }

    .siteTitle {
        font-size: 2.8em;
    }
}