.info-section {
  max-width: 140rem;
  height: 10rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 5rem;
  border-radius: 6px;

  background-image: linear-gradient(
    to right,
    $color-primary-1 50%,
    $color-text-1 50%
  );
  background-size: 200% 100%;

  transition: all 0.3s 0.1s;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__heading {
    flex: 0 0 20rem;
    text-align: left;
    font-size: $font-size-6;
    font-style: italic;

    color: $color-text-1;
    transition: all 0.3s;
  }

  &__line {
    flex: auto;
    border: none;
    border-top: 2px solid $color-text-1;
    transition: all 0.3s;
  }

  &:hover {
    background-position: -100% 0;
    transition: all 0.3s;
    // background-color: $color-text-1;
  }

  &:hover &__heading {
    color: $color-background-1;
    transition: all 0.3s 0.1;
  }

  &:hover &__line {
    border-top: 2px solid $color-background-1;
    transition: all 0.3s 0.1s;
  }
}
